<a href="https://colab.research.google.com/github/GabrielCatanaoan/OOP1_2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

Create a Class

In [1]:
class MyClass:
  pass

In [2]:
class OOP1_2:
  x=5
  print(x)

5

Create Objects

In [17]:
class OOP1_2:
  def __init__(self,name,age):           #__init__(parameter)
    self.name=name                        #attributes
    self.age=age

  def identity(self):
    print(self.name, self.age)

person= OOP1_2('Gabriel',18)        #create objects

print(person.identity)
print(person.name)
print(person.age)

<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f5826576990>>
Gabriel
18

In [25]:
#modify the Object Name

person.name= 'Gab'
print(person.name)
print(person.age)

Gab
18

In [26]:
person.age=40
print(person.name)
print(person.age)

Gab
40

In [27]:
#Delete the Object

del person.name

In [28]:
print(person.name)

AttributeError: ignored

In [30]:
print(person.age)

40

Application 1-Write a Python program that computes the area of a square,and the name its class as Square,side as attributes

In [33]:
class Square:
  def __init__(self,sides):
    self.sides= sides

  def area(self):
    return self.sides*self.sides         #Formula to compute the area of the square

  def display(self):
    print('the area of the square is:',self.area())

square=Square(4)

print(square.sides)
square.display()

4
the area of the square is: 16

Application 2- Write a Python program that displays your full name,age ,course,school. Create a class named MyClass, and name,age,school,course as attributes

In [58]:
class MyClass:
  def __init__(self,name,age,course,school):
    self.name=name
    self.age=age
    self.course=course
    self.school=school

  def information(self):
    return '''{}
{}
{}
{}'''.format(self.name,self.age,self.course,self.school)  

student= MyClass('Gabriel S. Catanaoan', 18, 'Bachelor of Science in Computer Engineering', 'Cavite State University')
print(student.information())

Gabriel S. Catanaoan
18
Bachelor of Science in Computer Engineering
Cavite State University

In [67]:
class MyClass:
  def __init__(self,name,age,course,school):
    self.name=name
    self.age=age
    self.course=course
    self.school=school

  def information(self):
    return '{},{},{},{}'.format(self.name,self.age,self.course,self.school)  

student= MyClass('Gabriel S. Catanaoan', 18, 'Bachelor of Science in Computer Engineering', 'Cavite State University')
print(student.information())

Gabriel S. Catanaoan,18,Bachelor of Science in Computer Engineering,Cavite State University